.tete {
  background-color: #409bbf;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 115px 12px 0px;
  height: 54px;
}
.fa-edit {
  color: red;
}
.box_contenair {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 15px;
}
.icon {
  margin-left: 45%;
  display: flex;
  width: 20%;
}
.edit {
  background-image: url("iconajout.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border: none;
}
.delete {
  background-image: url("delete-icon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border: none;
  margin-left: 3px;
}

.contenair_gauche {
  grid-column: 1 / 6;
}
.contenair_droit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 765px;
  height: 660px;
  background: #ffffff;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #dddddd;
  grid-column: 6 / -1;
}

.fond {
  background-color: #409bbf;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 30px;
  gap: 24px;
  height: 70px;
  left: 0px;
  top: 0px;
}
.liste {
  width: 650px;
  background: #0880d6;
  background-color: #409bbf;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 115px 12px 0px;
  height: 54px;
}
.contact-1 {
  width: 760px;
  background: #ffffff;
  border-color: #dddddd;
  display: flex;
  float: left;
  padding: 15px 0 0 0;
  border-bottom: 1px solid black;
  /* display: flex;
  float: left;
  padding: 15px 0 0 0;
  width: 60%;
  border-bottom: 1px solid black; */
}
.image {
  padding: 0;
  margin: 0;
  width: 40%;
  height: 80%;
  /* background-image: url("replit.picture.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.monimg {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.all-contact {
  width: 60%;
}
.all-contact2 {
  display: flex;
  flex-direction: row;
  /* margin-botton: 1px;  */
  height: 30px;
}
.all-contact2 p {
  margin: 2% 2% 2% 0;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  height: 30px;
}
.mail-phone {
  display: flex;
  flex-direction: row;
  margin-botton: 1px;
}
.mail-phone p {
  margin: 2% 2% 2% 0;
  text-align: center;
}
.
/* .picture{
  float:left;
  margin: 0 60px 0 0;
} */
.align {
  text-align: left;
}
.prenom {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-size: 12px;
  color: #555555;
}
.carre {
  width: 518px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
}
.biogra {
  width: 518px;
  height: 115px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  margin-top: 20px;
  /* : 30px; */
}
.encadrer {
  border: 1px solid black;
  padding: 5px;
}
.dada {
  color: blue;
  width: 63px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-top: 8px;
}
.button-1 {
  background-color: blue;
  /* margin-top: 30px;
   width: 50%; 
  height: 50%;
  margin-left: 10px;  */
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 45px;
  gap: 10px;
  width: 135px;
  height: 44px;
  margin-top: 20px;
}
.button-2 {
  background-color: red;
  /* margin-top: 30px;
  width: 50%; 
  height: 50%;
  margin-left: 100px; */
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 45px;
  gap: 10px;
  width: 135px;
  height: 44px;
  margin-top: 20px;
  margin-left: 100px;
}
.all-button {
  display: flex;
}
.drag-area {
  margin: 53px;
  border: 2px dashed grey;
  height: 100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drag-area img {
  height: 100%;
}
